body {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
}
.nav {
  text-decoration: none;
  list-style-type: none;
  line-height: 1.71;
}
.text-logo {
  font-size: 35px;
  font-weight: 700;
  line-height: 1.17;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: #04722e;
  list-style-type: none;
}
.text-logo:hover,
.text-logo:focus {
  color: #f30101;
  text-shadow: 0px 2px 2px 0px rgba(94, 14, 14, 0.5);
}
.hirou-ul {
  line-height: 1.71;
}
header {
  background-color: bisque;
}
.semi-finished-ul {
  list-style-type: none;
}
li:nth-child(odd) {
  background-color: rgb(243, 239, 235);
}
.link-footer {
  list-style-type: none;
}
.link-footer-li {
  text-decoration: none;
  font-style: normal;
  line-height: 1.71;
}
.footer-p {
  text-decoration: none;
  font-style: normal;
  color: #f30101;
  font-size: 25px;
  font-weight: 600;
}
footer {
  background-color: bisque;
}
